@using DataLayer.ViewModels
@model DataLayer.ViewModels.FilmViewModel

<link rel="stylesheet" href="~/css/film/ShowFilmDetails.css" />

@{
    var isOwner = ViewBag.IsOwner;
}

@{

    if (Model is FilmViewModel film)
    {
        <div id="film">

            <div id="filmImageAndData">

                <div id="filmImage">
                    <img src="@film.Poster" />
                </div>

                <div id="filmData">

                    <div id="filmDataHeader">
                        <p id="filmName">@film.Name</p>
                        <p id="filmAuthor">@film.Director</p>
                    </div>

                    <div id="filmDataDetail">
                        <div id="filmDataDetailName">
                            <p>Год издания </p>
                            <p>Опубликовал пользователем</p>
                        </div>
                        <div id="filmDataDetailInfo">
                            <p>@film.Year </p>
                            <p>@film.Publisher</p>
                        </div>
                    </div>

                    @{
                        if (isOwner)
                        {
                            <a asp-controller="Film" asp-action="UpdateFilm" method="get"  asp-route-guid=@film.Guid>Редактировать</a>
                        }
                    }

                </div>

            </div>

            <div id="filmDescription">
                <p>@film.Description</p>
            </div>

        </div>
    }
}