@using System.Collections.Immutable
@using System.ComponentModel.DataAnnotations
@model DataLayer.ViewModels.FilmViewModel

<link rel="stylesheet" href="~/css/Film/UpdateFilm.css" />

@{
    IImmutableList<ValidationResult> errors = ViewBag.Errors;
}

<div id="UpdateFilmForm">
    <h2>Добавление фильма</h2>

    <form asp-controller="Film" asp-action="UpdateFilm"  asp-route-guid=@Model.Guid method="post" enctype="multipart/form-data">

        <div>
            <div class="InputDiv">
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name">
                <span asp-validation-for="Name"></span>
            </div>

            <div class="InputDiv">
                <label asp-for="Director"></label>
                <input asp-for="Director" value="@Model.Director">
                <span asp-validation-for="Director"></span>
            </div>

            <div class="InputDiv">
                <label asp-for="RawPoster"></label>
                <input asp-for="RawPoster" type="file">
                <span asp-validation-for="RawPoster"></span>
            </div>

            <div class="InputDiv">
                <label asp-for="Year"></label>
                <input asp-for="Year" value="@Model.Year">
                <span asp-validation-for="Year"></span>
            </div>

            <div class="InputDiv">
                <label asp-for="Description"></label>
                @Html.TextAreaFor(model => model.Description, 8,1, new { value = $"{Model.Description}" })
                <span asp-validation-for="Description"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="Errors"></div>

            <div class="Errors">
                @{

                    foreach (var error in errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                }
            </div>

            <div id="UpdateFilmButtonContainer">
                <button type="submit" id="UpdateFilmButton">Редактировать</button>
            </div>
        </div>

    </form>

</div>